/* 基本樣式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* 超連結的基本樣式 */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 標題樣式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-3 {
  gap: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;

  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
  }
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.data-list-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .table-wrapper {
    max-height: calc(100vh - 370px);
    overflow-y: auto; // 垂直方向啟用滾動條
    margin-bottom: 20px;

    .data-list-table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: #f0f0f0;
        position: sticky; // 設置為 sticky
        top: 0; // 固定在頂部
        z-index: 1; // 確保在其他內容之上

        th {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #ddd;
          font-weight: bold;
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
          }

          td {
            padding: 10px;
            border-bottom: 1px solid #ddd;

            &:nth-child(1) {
              width: 15%;
            }

            &:nth-child(2) {
              width: 15%;
            }

            &:nth-child(3) {
              width: 25%;
            }

            &:nth-child(4) {
              width: 15%;
            }

            &:nth-child(5) {
              width: 15%;
            }

            &:nth-child(6) {
              width: 15%;
            }
          }
        }
      }

      @media (max-width: 959px) {
        thead {
          display: none; // 隱藏表頭
        }

        tbody {
          tr {
            display: block;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;

            td {
              display: block;
              padding: 5px 10px;
              border: none;
              text-align: left;
              position: relative;
              padding-left: 50%;

              &:before {
                content: attr(data-label);
                position: absolute;
                left: 10px;
                width: 45%;
                padding-right: 10px;
                text-align: left;
                font-weight: bold;
              }

              // 重置寬度設置
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      width: 60px;
      padding: 6px;
      background-color: #ddd;
      color: #000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      align-self: flex-end;
      &:hover {
        background-color: #555;
        color: #fff;
      }
      &:focus-visible {
        outline: #555 auto 1px;
      }
    }
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    select {
      display: block;
      width: 300px;
      padding: 10px;
      border: 2px solid #ddd;
      border-radius: 4px;
      -webkit-appearance: none; /* 清除select預設的下拉ICON */
      -moz-appearance: none; /* 清除select預設的下拉ICON */
      &:focus {
        border-color: #333;
      }
      &:focus-visible {
        outline: #555 auto 1px;
      }
    }
  }
}

.yc-btn,
.yc-small-btn {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  &:hover {
    background-color: #555;
    color: #fff;
  }
  &:focus-visible {
    outline: #555 auto 1px;
  }
}

.yc-btn {
  width: 60px;
  padding: 10px;
}

.yc-small-btn {
  width: 40px;
  padding: 5px;
}

.yc-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #fff; // 未選中時的背景色

  &:checked {
    background-color: #333; // 選中時的背景色
    border-color: #333;

    &::after {
      content: '\2714'; // 勾選符號
      font-size: 14px;
      color: #fff; // 勾選符號顏色
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    border-color: #999;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.2);
  }
}
