.data-list-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .table-wrapper {
    max-height: calc(100vh - 350px);
    overflow-y: auto; // 垂直方向啟用滾動條

    .data-list-table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: #f0f0f0;
        position: sticky; // 設置為 sticky
        top: 0; // 固定在頂部
        z-index: 1; // 確保在其他內容之上

        th {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #ddd;
          font-weight: bold;
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
          }

          td {
            padding: 10px;
            border-bottom: 1px solid #ddd;

            &:nth-child(1) {
              width: 8%;
            }

            &:nth-child(2) {
              width: 10%;
            }

            &:nth-child(3) {
              width: 20%;
            }

            &:nth-child(4) {
              width: 20%;
            }

            &:nth-child(5) {
              width: 30%;
            }

            &:nth-child(6) {
              width: 13%;
            }
          }
        }
      }
    }
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input {
      display: block;
      width: 300px;
      padding: 10px;
      border: 2px solid #e0e8f2;
      border-radius: 4px;
    }
  }
}

.yc-btn {
  display: block;
  width: 80px;
  padding: 10px;
  background-color: #2b91ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

.yc-checkbox {
  width: 20px;
  height: 20px;
}
