@if (isLoading()) {
  <div class="loading-spinner">
    <div class="spinner"></div>
  </div>
}

<div class="data-list-container">
  <h1>臺北市社會住宅興建工程進度</h1>

  <div class="form-wrapper">
    <form class="search-form">
      <div class="form-field">
        <label for="progress">興建進度</label>
        <select name="progress" [(ngModel)]="progress">
          @for (progress of ProgressTypes; track progress) {
            <option [value]="progress">{{ progress }}</option>
          }
        </select>
      </div>
    </form>
  </div>

  <div class="table-wrapper">
    <table class="data-list-table">
      <thead>
        <tr>
          <th>行政區</th>
          <th>社宅名稱</th>
          <th>地址</th>
          <th>規劃戶數</th>
          <th>興建進度</th>
          <th>我的最愛</th>
        </tr>
      </thead>
      <tbody>
        @for (item of paginatedData(); track item; let i = $index) {
          <tr>
            <td data-label="行政區">{{ item.distict }}</td>
            <td data-label="社宅名稱">{{ item.name }}</td>
            <td data-label="地址">{{ item.address }}</td>
            <td data-label="規劃戶數">{{ item.houseHolds }}</td>
            <td data-label="興建進度">{{ item.progress }}</td>
            <td data-label="我的最愛">
              <input
                class="yc-checkbox"
                type="checkbox"
                [checked]="item.isFavorite"
                (change)="toggleFavorite(item)"
              />
            </td>
          </tr>
        } @empty {
          <div>There are no items.</div>
        }
      </tbody>
    </table>
  </div>

  <div class="pagination">
    @if (currentPage() > 1) {
      <button (click)="prevPage()">上一頁</button>
    }
    <div class="page-info">
      <span>第 {{ currentPage() }} 頁，共 {{ totalPages() }} 頁</span>
    </div>
    @if (currentPage() < totalPages()) {
      <button (click)="nextPage()">下一頁</button>
    }
  </div>
</div>
